

div{
  background-color: white

}

.top-container{
 background-color:#ff4161;


}

/* background-image: url("../../media/examples/lizard.png"); */



body{
  color: #40514E;
  margin: 0;
  text-align: center;

  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Allison', cursive;
font-size: 5.625rem;
color: #FFFFFF;
text-align: center;
}

h2{
  font-family:  'Allison', cursive;
  font-size: 4.5rem;
  color: #FFFFFF;
  font-weight: normal;
  height: 2;
  padding-bottom: 10px;
  text-align: center;
}



h3{
  font-family: 'Montserrat', sans-serif;
}

.Flower{
Height: 300px;
width: 300px;
text-align: left;

}

.Flower1{
Height: 300px;
width: 300px;
text-align: right;

}


.BottomC {
  position: absolute;
  left: 250px;
  bottom: 300px;

}

.TopC {
  position: absolute;
  right: 300px;
  top: 40px;
  text-align: center;
}

.top-container{
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-container{
  background-color: #66BFBF;
  text-align: center;


}
.myimage{
  height: 400px;
text-align: center;
}


.skill {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}
.skill1 {
  width: 25%;
  float: right;
  padding-bottom: 50px;

}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
    line-height: 2;
}

.bio {
  width: 30%;
  margin: auto;
}

.contact-me {
  padding-bottom: 45px
}


#SlideShow{
  padding: 7% 15;
  text-align: center;
  background-color: salmon;
  color: #fff
}

#testimonials {
  background-color: #ef8172;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}


.testimonial-image {
  width: 25%;
  margin: 20px;
}

.three{
  height: 385px;
  width: 385px;
  text-align: center;}


section{
  text-align: center;
}

.Center{
  font-family: "Montserrat-Bold"
}


.carousel-control-next-icon{
  background-color: black
}
